*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: hsl(200, 60%, 99%);
}

main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
}

main section{  
  width: 90%;
  margin: auto;
  padding: 3% 0;
}

main section header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(226, 25%, 17%);
    padding: 10px 20px;
    border-radius: 17px;
    margin-bottom: 3rem;
}

main section header #sunBackgrund{
    background-color: hsl(225, 23%, 24%);
    padding:  10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

nav div p{
    background-color: hsl(225, 23%, 24%);
    border: 1px solid hsl(226, 11%, 37%);
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}
nav div p:active{
  background-color: hsl(3, 86%, 64%);
}

nav div p:focus{
 border: 1px solid hsl(3, 77%, 44%);
}

nav div p:hover, main section header #sunBackgrund:hover,
 main section article aside section + section > p:hover{
 border: 1px solid hsl(3, 77%, 44%);
}

/* nav div #All{
    background-color: hsl(3, 86%, 64%);
    color: hsl(226, 25%, 17%);
} */

main section article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

main section article aside{
    background-color: hsl(225, 23%, 24%);
    width: 33%;
    margin-bottom: 8px;
    border-radius: 10px;
    display: flex;
    border: 1px solid hsl(217, 61%, 90%);
}

main section article aside section:first-child{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

main section article aside section:first-child > div p{
    padding-top: 5px;
    color: hsl(0, 0%, 78%);
    line-height: 1.5rem;
}

main section article aside section + section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section article aside section + section > p{
    border: 1px solid hsl(217, 61%, 90%);
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
}

 main section article aside section + section > div{
    width: 18%;
    height: 25px;
    background-color:hsl(226, 11%, 37%);
    border-radius: 50px;
    display: flex;
}
  main section article aside section + section > div > span{
    width: 40%;
    height: 22px;
    background-color: hsl(217, 61%, 90%);
    border-radius: 50%;
    margin-top: 1px;
}

@media screen and (max-width:650px){
   main section article{
    flex-direction: column;
   }
   main section article aside{
    width: 100%;
   }
   nav{
    flex-direction: column;
   }
   #Topiclist{
    font-size: 2.5rem;
    padding-bottom: 10px;
   }
}

